
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(potentialbg.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;
    height: 1500px;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;


}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    height: 100vh;
    font-size: 22px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    transform: translateY(0, -50%);


}


.content2{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}
.content2 h1{
    font-size: 60px;
    margin-top: 80px;
    color:#fff;

}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.content3{
    width: 100%;
    position: absolute;
    top: 11%;
    transform: translateY(-50);
    text-align: left;
    color: #fff;
    white-space: normal;

}
.content3 h1{
    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.content3 p{
    font-size: 15px;
    text-align: left;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 12%;
    display: flex;
}
.content4{
    width: 100%;
    position: absolute;
    top: 13%;
    transform: translateY(-50);
    text-align: left;
    color: #fff;
    white-space: normal;

}
.content4 h1{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.content4 h2{
    margin-top: 6%;
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
}
.content4 p{
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 12%;
    display: flex;
}
.content4 h3{
    margin-top: 19%;
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
}
.content45 p{
    margin-top: 46%;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    color: #fff;
}
.banner2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bgsolar.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    width: cover;
    height: 1500px;
}
.banner3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bg2.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.content5{
    width: 100%;
    position: absolute;
    top: 13%;
    transform: translateY(-50);
    text-align: left;
    color: #fff;
}
.content5 h1{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.content5 h2{
    margin-top: 6%;
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
}
.content5 p{
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 12%;
    display: flex;
}
.content6{
    width: 100%;
    position: absolute;
    top: 13%;
    transform: translateY(-50);
    text-align: left;
    color: #fff;
}
.content6 h1{
    width: 100%;
    position: absolute;
    top: 15%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.content6 h2{
    margin-top: 6%;
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #fff;
    margin-left: 8%;
}
.content6 p{
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 12%;
    display: flex;
}
